<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            .tbl { 
                border-collapse: collapse; 
            }
            .tbl th, .tbl td { 
                padding: 5px; 
                border: solid 1px #000; 
            }
            .tbl th { 
                background-color: palevioletred; 
            }
        </style>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nasy Lib</title>
    </head>
    <body style="background-color: lightpink;">
        <h1>Nasy Lib</h1>
        
        <h5>Name: Ayu Siti Nasya N</h5>
        <h5>Class: PBP A</h5>

        <table class="tbl" style="width:500px;">
            <tr>
                <th>Book Title</th>
                <th>Author</th>
                <th>Amount</th>
                <th>Genre</th>
                <th>Description</th>
              </tr>
              <tr>
                <td>{{ title }}</td>
                <td>{{ author }}</td>
                <td>{{ amount }}</td>
                <td>{{ genre }}</td>
                <td>{{ description }}</td>
              </tr>
        </table>
    </body>
</html>