{% extends 'base.html' %}

{% block style %}
<style>
    .tbl { 
        border-collapse: collapse; 
    }
    .tbl th, .tbl td { 
        padding: 5px; 
        border: solid 1px #000; 
    }
    .tbl th { 
        background-color: #d87093; 
    }
    .tbl button {
        border-radius: 63px;
        background-color: #D87093;
    }
    </style>
{% endblock style %}


{% block content %}
        <h1>Nasy Lib</h1>
        
        <h5>Name: Ayu Siti Nasya N</h5>
        <h5>Class: PBP A</h5>

        <h3>Halo, {{ name }}</h3>
        <h3>*ੈ✩‧₊₊˚⊹♡ Kamu memiliki {{ quant }} judul buku di Nasy Lib *ੈ✩‧₊₊˚⊹♡</h3>

        <table class="tbl" style="width:1500px;">
            <tr>
                <th>Book Title</th>
                <th>Author</th>
                <th>Amount</th>
                <th>Genre</th>
                <th>Description</th>
                <th>Date Added</th>
              </tr>

            {% for book in books %}
                <tr>
                    <td>{{ book.name }}</td>
                    <td>{{ book.author }}</td>
                    <td align="center">
                        <a href="{% url 'main:sub_amount' book.id%}">
                            <button>
                                -
                            </button>
                        </a>
                        {{ book.amount }}
                        <a href="{% url 'main:add_amount' book.id%}">
                            <button>
                                +
                            </button>
                        </a>
                    </td>
                    <td>{{ book.genre }}</td>
                    <td>{{ book.description }}</td>
                    <td>{{ book.date_added }}</td>
                    <td>
                        <a href="{% url 'main:book_delete' book.id%}">
                        <button>
                            Delete
                        </button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <br />

        <h5>Sesi terakhir login: {{ last_login }}</h5>

        <a href="{% url 'main:book_entry' %}">
            <button>
                Add New Book
            </button>
        </a>
        <a href="{% url 'main:logout' %}">
            <button>
                Logout
            </button>
        </a>
{% endblock content %}